.idea/
.vscode/
*.swp
*.swo
*~


bin/
obj/
*.exe
*.pdb
*.user
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
*.DotSettings


*.dll
*.so
*.dylib


*.nupkg
*.snupkg


**/packages/*
!**/packages/build/
!**/packages/repositories.config


TestResults/


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets


.DS_Store
Thumbs.db
